* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
.swiper-slide-active .cardbg {
  background: #e04d01;
}
.swiper-slide-active .cardbg .textcolor h2,
.swiper-slide-active .cardbg .textcolor p {
  color: #fff;
}
.contactmainbg,
.contactbg,
.skillbg {
  position: relative;
}
.skillbg::before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  background-image: url('/public/line.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 203px 203px;
  border-radius: 100%;
}
.skillbg::after {
  position: absolute;
  content: '';
  bottom: -50px;
  left: 0;
  width: 400px;
  height: 300px;
  background-image: url('/public/wev.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 200px 200px;
}
.contactbg::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 15px;
  width: 110%;
  height: 110%;
  background-image: url('/public/contactbg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 500px) {
  .contactbg::before {
    position: absolute;
    content: '';
    top: 80px;
    left: 15px;
    width: 90%;
    height: 90%;
    background-image: url('/public/contactbg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}
.contactmainbg::before {
  position: absolute;
  content: '';
  top: 5%;
  left: 1%;
  width: 300px;
  height: 300px;
  background-image: url('/public/wev.svg');
  background-repeat: no-repeat;
  background-position: top;
}
